name: WakaTime Readme

on:
  workflow_dispatch:
  schedule:
    # Runs at 20pm UTC
    - cron: "0 20 * * *"

jobs:
  update-readme:
    name: Update this repo's README
    runs-on: ubuntu-latest
    steps:
      - uses: athul/waka-readme@main
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
